<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WarrantyWallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA27F73B2EA5DC680091301A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA27F74D2EA5DC6A0091301A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA27F7572EA5DC6A0091301A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
